@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800&family=Raleway:wght@200;300;400&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

html {
	scroll-behavior: smooth;
}


body {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	background-color: rgb(250, 250, 250);
	color: rgb(15,15,15);
}

h1, h2 {
	font-family: "Playfair display", serif;
	font-weight: 700 ;
	margin: 0;
}

a {
	text-decoration: none;
}

h2 {
	font-size:  40px;
}

h3 {
	font-family: "Raleway",sans-serif;
}