.cards {
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0 90px;
}

.card {
	padding: 20px;
	margin: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 10px 10px 0px rgb(252, 227, 245);
	border-radius: 50px;
	background-color: white;
	border: 1px solid rgb(227, 134, 193);
	flex-grow: 1;
	flex-basis: 200px;
}

.card img {
	object-fit: cover;
	width: 130px;
	height: 130px;
	border-radius: 50px;
}

.card h3 {
	flex-grow: 1;
	padding-left: 20px;
	font-size: 25px;
}

.card:hover {
	position: relative;
	top: 3px;
}